.card {
    display: flex;
    min-height: 200px;

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: .7rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        color: black;
        padding: 1.5rem 3rem;
        transition: opacity ease-in-out 0.2s;

        &:hover {
            opacity: .8;
            cursor: pointer;

            h3 {
                color: #6a11cb;

                &::before {
                    left: 0;
                }
            }
        }

        &:active {
            opacity: .9;
        }

        h3 {
            position: relative;
            overflow: hidden;
            letter-spacing: .8px;
            padding: .6rem;
            border-left: 2px solid;
            transition: color ease-in-out 0.2s;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: #6b11cb23;
                transition: left 0.3s ease-in-out;
                z-index: -1;
            }
        }

        p {
            font-size: 1rem;
        }
    }
}